*{
	padding:0;
	margin:0;
	outline:0;
}
body{
	font-size:16px;
	line-height:18px;
	font-family:arial;
}
.wrapper
{
	width:990px;
	margin: 0 auto;
	background:#f2f2f2 none repeat scroll 0 0;
}
.header,.footer
{
	background: #565656 none repeat scroll 0 0;
	padding:20px;
	text-align:center;
	color:#fff;
	overflow:hidden;
}
.header h2
{
	padding:10px;
	font-size:25px;
	text-transform:uppercase;
}
.mainmenu
{
	margin-top:2px;
	overflow:hidden;
}
.mainmenu ul
{
padding:0;
margin:0;
list-style:none;
}

.mainmenu ul li
{
 display:block;
 float:left;
}
.mainmenu ul li a 
{
background:#818181 none repeat scroll 0 0;
color:#fff;
display:inline block;
font-weight:bold;
margin-left: 2px;
padding:5px 10px;
text-decoration:none;
}
.mainmenu ul li a:hover
{
 background:#666666;
}
.content
{
	border-bottom:3px solid #c3c3c3;
	border-top:3px solid #c3c3c3;
	min-height:280px;
	overflow:hidden;
	padding:30px;

}
.content h2
{
	background:#ddd none scroll 0 0; 
	border:1px solid #c9c9c9;
	margin:0 auto;
	margin-bottom: 35px;
	padding:10px;
	text-align:center;
	width:350px;;
	overflow:hidden;


}
.msg
{

text-align:center;
font-weight:bold;
	overflow:hidden
}
.login_reg
{
	width:425px;
	border:1px solid #d2d2d2 none repeat scroll 0 0;
	border-radius:5px;
	margin: 0 auto;
	font-size:16px;
	padding:20px;
	overflow:hidden;
	background-color:#d5d5d5;

}
input[type="text"],input[type="email"],input[type="password"]
{

margin-bottom:5px;
margin-left: 10px;
width:280px;
padding:10px;
overflow:hidden;
}
input[type="submit"],input[type="reset"]
{
	background-color:gray;
	border:1px solid #626262;
	border-radius:3px;
	color:#fff;
	cursor:pointer;
	font-size: 25px;
	padding:2px 5px;
	font-weight:bold;

}
input[type="submit"]:hover,input[type="reset"]:hover
{
	background:#333;

}
.back{
	text-align: right;
}
.userlist{
	background: #fff;
	border: 1px solid #ddd;
	color: #33955f;
	font-weight: bold;
	text-align: center;
	margin: 0 auto 8px;
	overflow: hidden;
}
table.tbl_one
{
margin: 0 auto;
}
table.tbl_one tr th{
	background: #888;
	color: #fff;
	padding: 3px 32px;
	text-shadow:1px 1px 2px #000;
}
table.tbl_one tr:nth-child(2n+1)
{
	background: #e8e5e5;
	height: 30px;
}
table.tbl_one tr:nth-child(2n)
{
	background: #ddd;
	height: 30px;
}
table.tbl_one tr td a {
	color: #009bda;
	text-decoration: none;
}
table.tbl_one tr td a:hover
{
	color: #00598f;
	text-decoration: none;
}